%h1 Edit your application
- form_for :client_application, :url => oauth_client_path(@client_application), :html => { :method => :put } do |f|
  = render :partial => "form", :locals => { :f => f }
  = submit_tag "Edit"
